<%- include('header') -%>

<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur veritatis autem iure nulla, accusantium quis et error dolore sequi ex modi, quia non deleniti consectetur repellat tempore praesentium! Obcaecati natus harum neque voluptas. Commodi.</p>

<%- include('footer') -%>